<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    body {
      margin: 0;
      padding-bottom: 3rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    #form {
      background: rgba(0, 0, 0, 0.15);
      padding: 0.25rem;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      height: 3rem;
      box-sizing: border-box;
      backdrop-filter: blur(10px);
    }

    #input {
      border: none;
      padding: 0 1rem;
      flex-grow: 1;
      border-radius: 2rem;
      margin: 0.25rem;
    }

    #input:focus {
      outline: none;
    }

    #form>button {
      background: #333;
      border: none;
      padding: 0 1rem;
      margin: 0.25rem;
      border-radius: 3px;
      outline: none;
      color: #fff;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages>li {
      padding: 0.5rem 1rem;
    }

  /*  #messages>li:nth-child(odd) {
      background: #fd0000;
    }*/
  </style>
</head>

<body>
  <ul id="messages"></ul>

  <form id="name-form" class="center" action="">
    <input id="name" minlength="3" maxlength="10" name="name" placeholder="Enter your name" class="input-field"
      type="text">
    <label for="name" class="input-label">Enter your name</label>
    <p id="error-name"></p>
    <button type="submit" class="submit-btn">Submit</button>
  </form>
  <form id="form" action="">
    <input id="input" placeholder="Type your message..." autocomplete="off" /><button>Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var input = document.getElementById('input');
    var user = document.getElementById('name')
    var randomColor = Math.floor(Math.random()*16777215).toString(16);
    

    document.getElementById('name-form').addEventListener('submit', (e) => {
      e.preventDefault()
      console.log(user)
      console.log(socket.id)
      if (user.value) {
        socket.emit('login', user.value, (err) => {
          if (!err) {
            console.log('cb success')
            form.style.display = 'flex'
            document.getElementById('name-form').style.display = 'none'
          }
          else {
            console.log(err)
            document.getElementById('error-name').innerHTML = err
          }
        })
        user.value = ''
      }
    })

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      if (input.value) {
        socket.emit('chat message', input.value,randomColor);
        input.value = '';
      }
    });

    socket.on('chat message', function ({name,msg,color}) {
      var item = document.createElement('li');
      var msgElemnt= document.createElement('span')
      item.textContent = name;
      msgElemnt.textContent= ' : ' +msg
      msgElemnt.style.color='black'
      item.style.color='#'+color
      messages.appendChild(item);
      item.appendChild(msgElemnt)
      window.scrollTo(0, document.body.scrollHeight);
    });
  </script>
</body>
</html>