<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chit chat</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    /*  #messages>li:nth-child(odd) {
      background: #fd0000;
    }*/
  </style>
</head>
<body>
  <section id="msg-sec">
    <div class="container">
      <ul id="messages"></ul>
    </div>
  </section>
  <button id="logout-btn" class="logout">Logout</button>
  <form id="name-form" class="center" action="">
    <input id="name" minlength="3" maxlength="10" name="name" placeholder="Enter your name" class="input-field"
      type="text" autocomplete="on">
    <label for="name" class="input-label">Enter your name</label>
    <p id="error-name"></p>
    <button type="submit" class="submit-btn">Submit</button>
  </form>
  <section>
    <div class="container">
      <form id="form" action="">
        <input id="input" placeholder="Type your message..." autocomplete="off" /><button>Send</button>
      </form>
    </div>
  </section>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>